<div class="row">
  <div class="col">
  </div>
  <div class="col">
    <h1> Welcome to Safe Places!</h1>
    <p>This application will provide you with safety ratings of the world's most popular cities. <br> To begin, click the link below and start your first search </p>
  </div>
  <div class="col">
  </div>

</div>

<div class="row">
  <h3><a href="/home"> Start Searching</a></h3>
</div>
