<% require 'amadeus' %>
<!-- amadeus -->
<% amadeus = Amadeus::Client.new(
    client_id: ENV['ID'],
    client_secret: ENV['SECRET']) %>

<% safety = amadeus.safety.safety_rated_locations.get(latitude: 41.397158, longitude: 2.160873).data %>

<div>
<% safety.each do |s|  %>
<div class=>
  <h5> <%= s["subType"] %> </h5
  <h5> <%= s["name"] %> </h5>
  <h5> <%= s["geoCode"] %> </h5>
  <h5> <%= s["safetyScores"] %> </h5>
</div>
<% end %>
</div>
